body {
  padding: 0;
  margin: 0;
  background-size: cover;
  height: 100%;
  background-color: hsl(138deg 100% 74%);
}
.rotate_01 {
  /* position: fixed; */
  width: 150px;
  height: 150px;
  margin: auto;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.main {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 300px;
}
